<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p><%= "Completed ✓" if @task.completed == true %></p>

<%= link_to "Choose another task", tasks_path %>
<%= link_to "Edit task", edit_task_path %>
